.number-item{
    display: flex;
    align-items: center;
    .circle{
        width: 115px;
        height: 115px;
        background-color: rgb(187, 184, 184);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 3.5rem
        }
    }
    .text-info{
        p{
            padding: 28px;
            font-size: 24px;
        }
    }
}