.navbar {
  background-color: aqua;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;

  img {
    margin-left: 20px;
    width: 175px;
  }

  .link-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    a {
      margin-left: 20px;
      text-decoration: none;
      color: black;
    }
    button {
      width: 220px;
      height: 48px;
      background-color: white;
      border-radius: 40px;
      border: none;
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 20px;
      margin-left:15%;
    }
    @media only screen and (max-width: 768px) {
      position: absolute;
      right: 0;
      top: 20%;
      flex-direction: column;
      background-color: aqua;
    }
  }
  .icon-container {
    position: relative;
    display: none;
  }

  .hamburger-icon {
    height: 40px;
    display: none;

    // @media only screen and (max-width: 768px) {
    //   display: inherit;
    // }
  }
  .close-icon {
    height: 40px;
    display: none;
    position: absolute;
    top: 0;
  }
}
// .hidden {
//   display: inherit;

//   @media only screen and (max-width: 768px) {
//     display: none;
//   }
// }
