@import "../../variables.scss";

.text-input{
    display: flex;
    flex-direction: column;

    input{
        height: 48px;
        border-radius: 50px;
        font-size: 1.5rem;
        color: black;
    }
    label{
        text-align: start;
    }
}