//Create-Ad4

.main-container4 {
  min-height: 74vh;
  max-width: 900px;

  @media only screen and (max-width: 768px) {
    margin: 40px;
    min-height: 69vh;

  }
}

.search-container {
  display: flex;
  align-items: center;
  border: black solid 1px;
  border-radius: 50px;

  input {
    border: none;
    height: 50px;
  }
}
.search-icon{
  margin-left: 15px;
}
