//Create-Ad6
@import "../variables.scss";

.main-container6 {
  max-width: 900px;
  margin-right: 50px;

  h3 {
    text-align: left;
    font-size: 1.5rem;
  }
  h5 {
    margin: 0;
    text-align: left;
  }
  img {
    width: 386px;
    height: 287px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

    @media only screen and (max-width: 768px) {
      width: 322px;
      height: 185px;
    }
  }
  .rent-input {
    width: 80%;
  }
  .first-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .description-container {
    // margin-left: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 400px;

    textarea {
      width: 364px;
      height: 100px;
      border-radius: 20px;
      padding: 15px;

      @media only screen and (max-width: 768px) {
        width: 290px;
      }
    }

    @media only screen and (max-width: 768px) {
      margin-left: 0px;
      min-height: 200px;
    }
    @media only screen and (max-width: 1221px) {
      margin-top: 30px;
    }
  }
  .container {
    display: flex;
    justify-content: space-around;
    p {
      margin: 0;
      text-align: left;
    }
    .btn-change-photo {
      height: 60px;
      width: 160px;
      background-color: transparent;
      border: black solid 1px;
      border-radius: 50px;
      font-size: 1.5rem;
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  .text-container {
    width: 200px;
  }
  .secont-text-container {
    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .right-container {
    width: 386px;
    height: 287px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: black 1px solid;

    @media only screen and (max-width: 768px) {
      width: 322px;
      height: 185px;
    }

    p {
      text-align: left;
      margin-left: 20px;
    }
  }
  .second-section {
    margin-bottom: 200px;
  }

  .headline-button-container {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  .btn-one {
    height: 60px;
    width: 225px;
    background-color: transparent;
    border: black solid 1px;
    border-radius: 50px;
    font-size: 1.5rem;
    margin-right: 14px;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  .btn-two {
    height: 48px;
    width: 155px;
    border-radius: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-blue;
    color: white;
    display: none;

    .camera-icon {
      margin-left: 20px;
    }

    @media only screen and (max-width: 768px) {
      display: inherit;
    }
  }

  .image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;

    
    @media only screen and (max-width: 768px) {
      margin-top: 16px;
    }

    p {
      font-size: 1.5rem;
      text-align: left;
      margin-left: 12px;
    }

    .image-input {
      width: 386px;
      height: 287px;
      border-radius: 20px;
      margin: 10px;
      border: black solid 1px;

      p {
        text-align: left;
        margin-left: 20px;
      }

      @media only screen and (max-width: 768px) {
        width: 322px;
        height: 185px;
        margin: 0;
      }
    }
    img {
      margin: 10px;
      @media only screen and (max-width: 768px) {
        margin: 0;
        margin-bottom: 16px;
      }
    }
  }
}
