//Create-Ad5
.main-container5 {
  min-height: 74vh;
  margin-right: 25%;
  max-width: 900px;
  text-align: left;
 // margin-bottom: 70px;
  h2 {
    text-align: center;
  }
  .flex-container {
    h3 {
      margin: 0;
      margin-right: 15px;
    }
  }
  @media only screen and (max-width: 768px) {
    margin: 40px;
  }
}

.grid-container-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;

  img {
    margin-left: 50px;
  }
  .grid-item {
    gap: 20px;
  }
  @media only screen and (max-width: 1085px) {
    display: flex;
    flex-direction: column;

    .grid-item {
      gap: 0px;
    }
  }
}

.rent-input {
  border: black solid 1px;
  border-radius: 50px;
  height: 50px;
  width: 90%;
  padding-left: 20px;
  font-size: 1.5rem;
  text-align: left;
}
