//Create-Ad2
.grid-container-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  .grid-item {
    gap: 20px;
    @media only screen and (max-width: 768px) {
      align-items: center;
      gap: 0px;
    }
  }
}
