@import "../variables.scss";

.main-container8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 74vh;
  }
  .done-circle {
    height: 343px;
    width: 343px;
    border-radius: 50%;
    background-color: $light-blue ;
    margin-top: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .check-icon{
    fill: $dark-blue;
  }