@import "../variables.scss";

.profile-page {
  margin-top: 40px;

  .content-container {
    margin-left: 30px;
    margin-bottom: 200px;
  }

  h3 {
    font-size: 1.5rem;
    width: 60%;
    margin-left: 0;
  }

  h5 {
    font-size: 1.5rem;
    text-align: left;
    margin: 20px 0 10px 0;
  }
  .welcome-paragraph {
    margin-bottom: 20px;
    font-weight: 1rem;
    text-align: left;
    margin-bottom: 40px;
    width: 50%;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .menu-container {
    background-color: white;
    padding-top: 20px;
  }
  .top-flex-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
  }
  .top-cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .bottom-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 800px;
  }

  @media only screen and (max-width: 1050px) {
    .container {
      display: flex;
      justify-content: center;
    }
    .content-container {
      margin: auto;
    }
    .menu-container {
      display: none;
    }

    .second-card {
      display: none;
    }

    .top-cards-container {
      flex-direction: column;
      align-items: center;
    }

    .bottom-cards-container {
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
    }

    p,
    h5,
    h3,
    h2 {
      margin-left: clamp(0px, 12vw, 220px);
      text-align: left;
    }
  }
}
