@import "../variables.scss";


.header-container {
  background-color: $base-color;
  height: 400px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 150px;

}
.about-container {
  display: flex;
  height: 600px;

  .text-container {
    width: 40vw;
    padding: 70px;
  }

  img {
    width: 50vw;
    object-fit: cover;
  }
}
.usp-container {
  display: flex;
  justify-content: space-around;
}
