@import "../../variables.scss";
.usp-card {
  width: 320px;

  img {
    width: 20vw;
    height: 20vw;
    min-width: 250px;
    min-height: 250px;
    border-radius: 20px;
  }

  p {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    text-align: center;
  }
  @media only screen and (max-width: 768px) {
    background-color: $middle-light-blue;
  }
}
