.create-ad-next-prev{
    height: 67px ;
    width: 100%;
    background-color: rgb(230, 228, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        font-size: 1.5rem;
        margin-left: 20px;
    }

    .abort{
        margin-right: 40px;
        font-size: 1.5rem;
    }
}
.flex-container{
    display: flex;
    align-items: center;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 50px;
    width: 250px;
    font-size: 1.5rem;
    border-radius: 40px;
    border: none;
    box-shadow: 1px 7px 2px 1px rgba(0, 0, 0, .2);
    a{
       text-decoration: none;
    color: black; 
    }
  }