.create-ad-next-prev {
  height: 67px;
  width: 100%;
  background-color: rgb(230, 228, 228);
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-size: 1.5rem;
    margin-left: 20px;
    text-decoration: none;
  }

  .abort {
    margin-right: 40px;
    font-size: 1.5rem;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}
.flex-container {
  display: flex;
  align-items: center;
  margin-right: 24px;

  .next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 48px;
    width: 250px;
    font-size: 1.5rem;
    border-radius: 40px;
    border: none;
    @media only screen and (max-width: 768px) {
      width: 120px;
    }

    a {
      text-decoration: none;
      color: black;

      @media only screen and (max-width: 768px) {
        margin-left: 0;
      }
    }
  }
}
