.create-ad-menu {
  width: 240px;
  background-color: rgb(255, 255, 255);

  ul {
    padding: 0 20px;
  }

  li {
    margin: 40px 20px;
    font-size: 16px;
    text-align: left;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}
