@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&display=swap");

$asp: "Asap", sans-serif;
$dark-blue: #293241;
$middle-dark-blue: #3d5a80;
$middle-light-blue: #98c1d9;
$light-blue: #e0fbfc;
$orange: #ee6c4d;
